<div class="content">
  <div class="left-side">
    <h2>{{editingPostId !== null ? 'Editar publicación' : 'Nueva publicación'}}</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="postForm">
      <input
        type="text"
        placeholder="Título"
        name="title"
        formControlName="title"
      />
      @if (isValidField('title')) {
        <span class="error-message">
          {{ getErrorMessage('title') }}
        </span>
      }
      <br />
      <textarea
        placeholder="Contenido"
        name="content"
        formControlName="content"
        ></textarea>
        @if (isValidField('content')) {
        <span class="error-message">
          {{ getErrorMessage('content') }}
        </span>
      }
      <br />
      <input
        type="text"
        placeholder="Url de la imagen"
        name="image_url"
        formControlName="image_url"
      />
      @if (isValidField('image_url')) {
        <span class="error-message">
          {{ getErrorMessage('image_url') }}
        </span>
      }
      <br />
      <button type="submit" 
        [ngClass]="editingPostId !== null ? 'edit-button' : 'add-button'"
        >
        {{ editingPostId !== null ? 'Guardar cambios' : 'Agregar publicación' }}
      </button>
    </form>
  </div>
  <div class="right-side">
    <h1>Lista de publicaciones</h1>
    <div class="posts-list">
      @for (post of posts; track post.id) {
        <app-post-card
          [postId]="post.id"
          [title]="post.title"
          [content]="post.content"
          [image]="post.image_url"
          (delete)="removePost(post.id)"
          (edit)="editPost(post)"
        >
        </app-post-card>
      }
    </div>
    <button (click)="loadMore()" *ngIf="canLoadMore()" class="btn-loadmore">Cargar más ...</button>
  </div>
</div>
